#main-interface {
    background-color: rgb(225, 225, 225);
    padding: 20px;
    border-radius: 6px;
}

#header-row {
    border-radius: 0px 0px 6px 6px;
    height: 110px;
    color: #fff;
    background-color: black;
    padding: 20px;
    margin-bottom: 10px;
}

/* #top-logo {
    height: 100%;
    width: auto;
    float: left;
    margin: 0 auto;
} */

#first-row {
    height: 400px;
}

#submit-button {
    float: right;
}

#query-textarea {
    height: 300px;
    margin-bottom: 10px;
}

/* .link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node {
fill: #000;
stroke: #fff;
stroke-width: 1.5px;
} */